html { 
	background: url(../img/bkg3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	background-color: inherit;
}
.modal-open .container {
	overflow: hidden;
}
div#main {
	background-color: white;
	padding: 30px 40px 20px 40px;
	/*min-height: 100%;*/
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}
div#notes-editor {
	margin: 3px 10px;
}
div#qchoices {
	padding-left: 20px;
}
input.qchoice {
    margin-left: 22px;
}
span.qchoiceflag {
    width: 22px;
    margin-right: -22px;
}
div.editor {
	width: 100%;
}
.input-xs {
  height: 24px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.arrow {
	cursor: pointer;
}
table {
	margin: 20px 0px;
	font-size: 14px;
}
table p {
	margin: 2px 8px 2px 8px;
}
.fancybox-wrap {
  position: absolute;
  top: 50px !important;
}
